<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DPSerchPage</title>
</head>
<body>
    <h3 style="display:inline">{{User.User_name}}님 쿠폰페이지</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:home' User.User_name %}">홈으로</a>
    <a href="{% url 'bookstore:userinfo' User.User_name %}">정보수정</a></br></br></br>
    <p>최근거래일 : {{DP_list.DP_TradingDate}}</p>
    <p>최근거래번호 : {{DP_list.DP_history}}</p>
    <p>---------------------------------------------------------</p>
    <p>잔액 : {{DP_list.DP_price}}</p>
    <p>충전금액 : {{DP_list.DP_ChargePrice}}</p>
    <p>사용금액 : {{DP_list.DP_UsedPrice}}</p>
</body>
</html>