<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
    <title>userinfoPage</title>
</head>
<body>
    <h3 style="display:inline">회원수정</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:home' User.User_name %}">홈으로</a>
    <a href="{% url 'bookstore:coupon' User.User_name %}">내쿠폰 보기</a>
    <a href="{% url 'bookstore:DPserch' User.User_name %}">동서페이 보기</a></br></br></br>
    <form action="{% url 'bookstore:userinfo' User.User_name %}" method="post">
    {% csrf_token %}
        이름 : <input type="text" value="{{User.User_name}}" name="name"></br>
        아이디 : <input type="text" value="{{User.User_id}}" name="id"></br>
        패스워드 : <input type="password" value="{{User.User_pw}}" name="pw"></br>
        <a href="{%url 'bookstore:sdadd' User.User_name %}">주소 추가/수정</a></br>
        <a href="{%url 'bookstore:cardadd' User.User_name %}">카드 추가/수정</a></br>
        <input type="submit" name="Register"></br>
    </form>

</body>
</html>