<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
    <title>homePage</title>
</head>
<body>
    {% if User_list %}
        <h3 style="display:inline">도서구매사이트</h3>
        <p style="display:inline">{{User_list.User_name}}님 어서오세요.</p>
        <a href="{% url 'bookstore:login' %}">로그아웃</a>
        <a href="{% url 'bookstore:userinfo' User_list.User_name %}">정보수정</a>
        <a href="{% url 'bookstore:cart' User_list.User_name %}">장바구니</a></br></br></br>
    {% endif %}
    {% if Book_list %}
        {% for i in Book_list %}
            <p style="display:inline"><b>{{i.Book_name}}</b></p>
            <p style="display:inline">(재고량 : {{i.Book_stock}})</p>
            <a href="{% url 'bookstore:cartadd' User_list.User_name i.id %}" methods="post">장바구니</a>
            <a href="{% url 'bookstore:order' User_list.User_name i.id%}" methods="post">바로구매</a></br>
        {% endfor %}
    {% endif %}
</body>
</html>