<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
    <title>cartPage</title>
</head>
<body>
    <h3 style="display:inline">{{User.User_name}}님 장바구니</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:userinfo' User.User_name %}">정보수정</a>
    <a href="{% url 'bookstore:home' User.User_name %}">홈으로</a></br>
    <a href="{% url 'bookstore:order' User.User_name BookOrder.Order.id %}">구매하기</a></br></br></br>
    {% for i in BookOrder_list %}
        <p style="display:inline">{{i.Book.Book_name}}</p><!--책이름-->
        <p style="display:inline">{{i.Book.Book_price}}</p><!--책정가-->
        <p style="display:inline">{{i.BO_DC_price}}</p><!--책할인가-->
        <p style="display:inline">{{i.BO_count}}</p><!--책수량-->
        <p style="display:inline">{{i.BO_price}}</p><!--책할인가합계-->
        <a href="{% url 'bookstore:cartdel' User.User_name i.Order.id i.Book.id%}">장바구니 지우기</a> </br>
    {% endfor %}
</body>
</html>