<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CouponSelectPage</title>
</head>
<body>
    <h3 style="display:inline">{{User.User_name }}님 쿠폰사용페이지</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:userinfo' %}">정보수정</a>
    <a href="{% url 'bookstore:home' User.id %}">홈으로</a></br></br></br></br>
    <a href="{% url 'bookstore:CPorder' %}">주문내역으로 돌아가기</a></br></br>
    {% for i in CP_list %}
        {% if i.CP_state == 1 or BookOrder_list.CP_kind == i.CP_kind %}    <!--사용진행중인 쿠폰 -->
            {{i.CP_kind}} (선택됨)
            <a style="display:inline" href="{% url 'bookstore:cpcancel' BookOrder_list.id i.id %}">선택취소</a></br></br>
        {% else %}
            <a href="{% url 'bookstore:couponDC' BookOrder_list.id i.id %}">{{i.CP_kind}}</a></br></br>
        {% endif %}
    {% endfor %}
</body>
</html>