<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
    <title>userinfo_DP_Page</title>
</head>
<body>
    <h3 style="display:inline">{{User.User_name}}님 동서페이 페이지</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:home' User.id %}">홈으로</a>
    <a href="{% url 'bookstore:userinfo' %}">정보수정</a></br></br></br>

    <!--EnrollPage-->
    {% if Page == "EnrollPage" %}
        {{User.User.name}}님은 현재 동서페이 사용자가 아닙니다.
        <p style="display:inline">등록하시겠습니까?</p>
        <a href="{% url 'bookstore:enroll' %}">등록</a>
        <a href="{% url 'bookstore:userinfo' %}">미등록</a>
    {% endif %}
    <!--ReferencePage-->
    {% if Page == "ReferencePage" %}
        <p>최근거래일 : {{DP_list.DP_TradingDate}}</p>
        <p>최근거래번호 : {{DP_list.DP_history}}</p>
        <p>---------------------------------------------------------</p>
        <p>잔액 : {{DP_list.DP_price}}</p>
        <p>충전금액 : {{DP_list.DP_ChargePrice}}</p>
        <p>사용금액 : {{DP_list.DP_UsedPrice}}</p>
    {% endif %}
</body>
</html>