<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrderPage</title>
</head>
<body>
    {% if mes %}
        <script>
            alert("{{mes}}")
        </script>
    {% endif %}
    <h3 style="display:inline">{{User.User_name}}님 구매페이지</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:userinfo' %}">정보수정</a>
    <a href="{% url 'bookstore:home' User.id %}">홈으로</a>
    <a href="{% url 'bookstore:cart' %}">장바구니</a></br></br></br>

    <!--OrderlistPage-->
    {% if Page == "OrderlistPage" %}
        <p style="display:inline"><b>주문내역&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></p>
        <a href="{% url 'bookstore:orderPayment' %}">결제하기</a></br></br>

        <p>상품명 / 정가 / 수량 / 합계 / 할인가 / 쿠폰</p>
        {% for i in BookOrder_list %}
            <p style="display:inline">{{i.Book.Book_name}} /</p><!--책이름-->
            <p style="display:inline">{{i.Book.Book_price}} /</p><!--책정가-->
            <p style="display:inline">{{i.BO_count}} /</p><!--책수량-->
            <p style="display:inline">{{i.BO_price}} /</p><!--책할인가합계-->
            <p style="display:inline">{{i.BO_DC_price}} /</p><!--책할인가-->
            {% if i.CP_kind == "" %}
                <a href="{% url 'bookstore:couponselect' i.id%}"> 쿠폰 사용하기</a></br>
            {% else %}
                <a href="{% url 'bookstore:couponselect' i.id%}"> 쿠폰 사용하기</a>
                <p style="display:inline">({{i.CP_kind}}) /</p><!--책할인가--></br>
            {% endif %}
        {% endfor %}</br>
        <p>---------------------------------------------------------</p>
        {% if Order_list.Order_DC_totalprice == 0 %}
            <p>총 상품금액 : {{Order_list.Order_totalprice}}</p>
        {% else %}
            <p>총 상품금액 : {{Order_list.Order_DC_totalprice}}</p>
        {% endif %}
    {% endif %}

    <!--PaymentPage-->
    <!--추가해야될거-->
    <!--할인, 동서페이 정리할것-->
    <!--동서페이 안사용한 경우 UI상으로 안보이게하기-->
    {% if Page == "PaymentPage" %}
        <p style="display:inline"><b>주문내역&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b></p>
        <a href="{% url 'bookstore:orderdone' %}">주문하기</a></br></br>
        <!--할인 안받은 경우-->
        {% if Order_list.Order_DC_totalprice == 0 %}
            <p>주문 금액 : {{Order_list.Order_totalprice}}</p>
            <!--동서페이 사용한 경우-->
            {% if Order_list.Order_DP != 0 %}
                <p>동서페이 사용금액 : {{DP_list.DP_UsedPrice}}</p>
                <b><p>결제 금액 : {{Order_list.Order_DP}}</p></b>
            <!--동서페이 안사용한 경우-->
            {% else %}
                <p>동서페이 사용금액 : 0</p>
                <b><p>결제 금액 : {{Order_list.Order_totalprice}}</p></b>
            {% endif %}
        <!--할인 받은 경우-->
        {% else %}
            <p>주문 금액 : {{Order_list.Order_DC_totalprice}}</p>
            <!--동서페이 사용한 경우-->
            {% if Order_list.Order_DP != 0 %}
                <p>동서페이 사용금액 : {{DP_list.DP_UsedPrice}}</p>
                <b><p>결제 금액 : {{Order_list.Order_DP}}</p></b>
            <!--동서페이 안사용한 경우-->
            {% else %}
                <p>동서페이 사용금액 : 0</p>
                <b><p>결제 금액 : {{Order_list.Order_DC_totalprice}}</p></b>
            {% endif %}
        {% endif %}
        <p>주문일자 : {{Order_list.Order_date}}</p>
        <p>---------------------------------------------------------</p>
        <h4 style="display:inline">동서페이</h4>
        {% if Order_list.Order_DP == 0 %}
            <form action="{% url 'bookstore:orderPayment' %}" method="post">
            {% csrf_token %}
                사용금액 : <input type="text" name="DP_UsedPrice">
                <input type="submit" name="Register"></br>
            </form>
            <p>동서페이 잔액 : {{DP_list.DP_price}}</p>
        {% else %}
            <p>동서페이 사용금액 : {{DP_list.DP_UsedPrice}}</p>
            <p>남은 잔액 : {{DP_list.DP_price}}</p>
        {% endif %}
        <p>---------------------------------------------------------</p>
        <h4 style="display:inline">결재카드</h4>
        <p>신용카드 종류 : {{Card_list.Card_name}}</p>
        <p>신용카드 번호 : {{Card_list.Card_num}}</p>
        <p>신용카드 유효기간 : {{Card_list.Card_date}}</p>
        <p>---------------------------------------------------------</p>
        <h4 style="display:inline">결재배송지</h4>
        <p>배송지 우편번호 : {{SD_list.SD_num}}</p>
        <p>배송지 기본주소 : {{SD_list.SD_ba}}</p>
        <p>배송지 상세주소 : {{SD_list.SD_da}}</p>
    {% endif %}

    <!--OrderDonePage-->
    {% if Page == "OrderDonePage" %}
        <p>주문이 완료되었습니다.</p>
    {% endif %}
</body>
</html>