<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CouponSelectPage</title>
</head>
<body>
    <h3 style="display:inline">{{BookOrder_list.Order.User.User_name}}님 쿠폰사용페이지</h3>
    <a href="{% url 'bookstore:login' %}">로그아웃</a>
    <a href="{% url 'bookstore:userinfo' BookOrder_list.Order.User.User_name %}">정보수정</a>
    <a href="{% url 'bookstore:home' BookOrder_list.Order.User.User_name %}">홈으로</a>
    <a href="{% url 'bookstore:cart' BookOrder_list.Order.User.User_name %}">장바구니</a></br></br></br>
    <form action = "{% url 'bookstore:order' BookOrder_list.id %}" method="post">
        쿠폰선택<br>
        <select name = "coupon_list" multiple>
            <option value=""
        </select>
    </form>
    {% for i in CP_list %}
        <a href="{% url 'bookstore:couponselectCon'  %}">{{i.CP_kind}}</a>
    {% endfor%}
</body>
</html>